src/*.exe
src/fawlecoin
src/fawlecoind
src/test_fawlecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.fawlecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
fawlecoin-qt
FawleCoin-Qt.app

# Unit-tests
Makefile.test
fawlecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
